.review-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 15px;
	background-color: #F5D7E0;
	border-radius: 6px;
}
.review-card__header {
	display: flex;
	justify-content: space-between;
}
.review-card__name {
	font-size: 18px;
}
.review-card__date {
	align-self: center;
	font-size: 14px;
	opacity: 0.6;
}
.review-card__text {
	margin: 30px 0;
}
.review-card__sender {
	align-self: flex-end;
}
.review-card__text,
.review-card__sender {
	font-size: 14px
}

.no-reviews {
	margin-top: 50px;
	text-align: center;
	color: gray;
}

@media screen and (max-width: 480px) {
	.review__header {
		flex-direction: column;
	}
	.review__date {
		align-self: flex-end;
	}
}